@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  background-color: #b7d5ff;
}

.fixed-width {
  display: flex;
  flex-direction: column;
  width: 500px;
  position: relative;
  height: 100dvh;
  overflow: auto;
  background-color: rgb(251, 251, 251);
  @media (max-width: 500px) {
    /* 화면 너비가 500px 이하가 되면 요소 너비를 100%로 고정*/
    width: 100%;
  }
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

fixed-width::-webkit-scrollbar {
  display: none;
}

.vvue-scroll {
  overflow-y: auto;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

vvue-scroll::-webkit-scrollbar {
  display: none;
}

.ion-sm {
  font-size: 1.25rem;
}

.ion-lg {
  font-size: 2.5rem;
}

.ion-2x {
  font-size: 2em;
}

.ion-3x {
  font-size: 3em;
}

.ion-4x {
  font-size: 4em;
}

.ion-5x {
  font-size: 5em;
}

.ion-color-white {
  color: white;
}

.ion-color-gray800 {
  color: '#424242';
}
